@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Lobster&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');


html,body{
height: 100%;
width: 100%;
}
.button{
    width: 66px;
    padding: 20px;
    margin: 0px 3px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}
.row{
    margin: 8px 0px;
}
.row input{
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 23px;
}
.flex{
    display: flex;

} 
.flex-col{
 flex-direction: column;
}
.items-center{
    align-items: center;
    justify-content: center;
}

.border{
    background-color: lightblue;
    height: 500px;
    width: 400px;
    margin-left: 480px;
    border: 3px solid black;
    border-radius: 10px;
}
.container{
    padding-top: 15px;
}
p{
    text-align: center;
    color: black;
}
